<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="trace">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MMM-dd hh:mm:ss a} %level %c - %m %n" />
        </Console>
        <JDBC name="databaseAppender" tableName="springBoot_DB.EVENT_LOGS">
            <DriverManager connectionString="jdbc:postgresql://localhost:5432/transportD7" driverClassName="org.postgresql.Driver"   />
            <Column name="ID" pattern="%u" />
            <Column name="DATE_TIME" isEventTimestamp="true" />
            <Column name="CLASS_INFO" pattern="%logger" />
            <Column name="LEVEL" pattern="%level" />
            <Column name="MESSAGE" pattern="%message" isClob="true" />
            <Column name="EXCEPTION_INFO" pattern="%ex{full}" isClob="true" />
        </JDBC>
    </Appenders>
    <Loggers>
        <Logger name="com.serhat.transportdemo" level="trace" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="databaseAppender"/>
        </Logger>
        <Root level="trace">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="databaseAppender"/>
        </Root>
    </Loggers>
</Configuration>